.title{
  text-align: center;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30pt;
}

.board{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  align-content: center;
  width: 300px;
  margin: 5vh auto;
  box-shadow: 6px -5px 29px -4px rgba(0,0,0,0.23);
}

.square{
  border: 1px solid black;
  text-align: center;
  padding-top: 30px;
  font-size: 20pt;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
}

.selectWrapper{
  text-align: center;
  padding: 50px;
  height: 30px;
}

.letsPlay{
  font-size: 30px;
  border: 1px solid #868686;
  padding: 10px;
  border-radius: 10px;
  margin-left: 40vw;
  margin-right: 40vw;
  cursor: pointer;
}

.letsPlay:hover{
  box-shadow: 6px -5px 29px -4px rgba(0,0,0,0.23);
  padding: 12px;
  font-size: 33px;
  margin-left: 39vw;
  margin-right: 39vw;
}

.whoStartsFirst{
  font-size: 30px;
}

.letsPlayO{
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

.letsPlayX{
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

.letsPlayO:hover{
  transform: scale(1.2);
}

.letsPlayX:hover{
  transform: scale(1.2);
}

.letsPlayWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.resetWrapper{
  text-align: center;
  padding: 50px;
  height: 30px;
}

.reset{
  font-size: 18px;
  border: 1px solid #868686;
  padding: 10px;
  border-radius: 10px;
  margin-left: 43vw;
  margin-right: 43vw;
  cursor: pointer;
}


.reset:hover{
  box-shadow: 6px -5px 29px -4px rgba(0,0,0,0.23);
  padding: 11px;
  font-size: 20px;
  margin-left: 42vw;
  margin-right: 42vw;
}

.winnerModal {
  box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.39);
  background-color: white;
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;

}